{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{path('app_account')}}">Reourner à mon compte</a>
    <hr>
        {% if notification == true %}
        <div class="alert alert-success">Votre mot de passe à bien été mis à jour</div>
        {% endif %}
        
        {% if notification is same as (false) %}
        <div class="alert alert-danger">Votre mot de passe actuel n'est pas le bon</div>
        {% endif %}

    {{form(form)}}
    

{% endblock %}
 